<div class="run-configs p-4">
  <div class="flex justify-around">
    <div class="config-item text-center">
      <button class="bg-blue-500 text-white px-4 py-2 rounded-full">USE TOOL (BROWSER)</button>
      <div class="in-use mt-2 bg-pink-500 text-white p-2 rounded">IN USE: INDEX.HTML</div>
      <div class="folder mt-2 text-left">
        <p>Folder: Foo</p>
        <p class="ml-4">Folder: Bar</p>
        <p class="ml-8">File: index.html <input type="checkbox" checked disabled></p>
      </div>
    </div>
    <div class="config-item text-center">
      <button class="bg-blue-500 text-white px-4 py-2 rounded-full">USE TOOL (CONSOLE)</button>
      <div class="in-use mt-2 bg-pink-500 text-white p-2 rounded">IN USE: INDEX.JS</div>
      <div class="folder mt-2 text-left">
        <p>Folder: Foo</p>
        <p class="ml-4">Folder: Bar</p>
        <p class="ml-8">File: index.js <input type="checkbox" checked disabled></p>
      </div>
    </div>
  </div>
  <button class="read-screen bg-blue-500 text-white px-4 py-2 mt-4 rounded-full">READ SCREEN</button>
</div>

