<div class="shortcuts p-4 text-center">
  <button class="bg-pink-500 text-white px-4 py-2 my-2 rounded-full">GENERAL SHORTCUTS</button>
  <button class="bg-pink-500 text-white px-4 py-2 my-2 rounded-full">REPEAT LAST AUDIO: SET TO R</button>
  <button class="bg-pink-500 text-white px-4 py-2 my-2 rounded-full">SKIP TO NEXT AUDIO: SET TO N</button>
  <button class="bg-pink-500 text-white px-4 py-2 my-2 rounded-full">GIT SHORTCUTS</button>
  <button class="bg-pink-500 text-white px-4 py-2 my-2 rounded-full">REPEAT LAST COMMIT</button>
  <button class="read-screen bg-blue-500 text-white px-4 py-2 mt-4 rounded-full">READ SCREEN</button>
</div>

