<div class="terminal p-4 text-center">
  <p class="mb-2">Command: <code>echo “hello”</code><br>Result: echo</p>
  <p class="mb-2">Command: <code>pwd</code><br>Result: /usr/foo.bar/dev</p>
  <p class="mb-2">Command: rename file <code>foo.html index.html</code><br>Result: foo.html file renamed to index.html</p>
  <div class="actions flex justify-center mt-4">
    <button id="idebutton" class="bg-blue-500 text-white px-4 py-2 mx-2 rounded-full">IDE ACTION</button>
    <button class="bg-blue-500 text-white px-4 py-2 mx-2 rounded-full">EXECUTE</button>
  </div>
</div>

